<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2010-2022 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          https://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.mapper.PetManagerMapper">

  <cache />

 <select id="getCatDogManagerList" resultType="PetManager">
    SELECT managerId,
           petType,
           name,
           age,
           since,
           manage,
           catdog
    FROM petmanager
    WHERE catdog=1
 </select>

    <select id="getPetMangerByID" resultType="PetManager">
        SELECT managerId,
               petType,
               name,
               age,
               since,
               manage,
               catdog,
               repfish,
               bird
        FROM petmanager
        WHERE managerId=#{id}
    </select>

  <select id="getRepFishManagerList" resultType="PetManager">
    SELECT managerId,
           petType,
           name,
           age,
           since,
           manage,
           repfish
    FROM petmanager
    WHERE repfish=1
  </select>

  <select id="getBirdManagerList" resultType="PetManager">
    SELECT managerId,
           petType,
           name,
           age,
           since,
           manage,
           bird
    FROM petmanager
    WHERE bird=1
  </select>

    <select id="getPetMangerList" resultType="PetManager">
        SELECT managerId,
               petType,
               name,
               age,
               since,
               manage,
               catdog,
               repfish,
               bird
        FROM petmanager
        ORDER BY managerId
    </select>

    <insert id="insertPetManager" parameterType="PetManager">
        INSERT INTO petmanager
            (managerId, petType, catdog, repfish, bird, name, age, since, manage)
        VALUES
            (#{managerId},#{petType}, #{catdog}, #{repfish}, #{bird}, #{name}, #{age}, #{since}, #{manage})
    </insert>

    <update id="editPetManager" parameterType="PetManager">
        UPDATE petmanager SET
        petType = #{petType},
        catdog = #{catdog},
        repfish = #{repfish},
        bird = #{bird},
        name = #{name},
        age = #{age},
        since = #{since},
        manage = #{manage}
        WHERE managerId = #{managerId}
    </update>

    <delete id="deletePetManager">
        delete from petManager
        where managerId = #{petManagerId}
    </delete>

</mapper>
